.codecademy-mount-point {
  margin-bottom: 20px;
  font-family: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.codecademy-cards {
  display: flex;
}

.codecademy-card {
  --cc-navy: #10162F;
  --cc-white: #FFF;

  flex: 1;
  min-height: 180px;
  padding: 16px;
  border: 1px solid black;
  background-color: var(--cc-white);
  font-size: 0.9rem; // 1rem ~15px in discourse land
  transition: box-shadow 200ms ease, transform 200ms ease;
  
  &:not(:last-child) {
    margin-right: 1.6rem;
  }
  
  &:hover {
    transform: translate(4px, -4px);
    box-shadow: -8px 8px 0 var(--cc-navy);
  }

  &__type {
    margin-bottom: 12px;
  }

  &__pro-badge {
    padding: 0 2px;
    margin-right: 8px;
    background-color: var(--cc-navy);
    color: var(--cc-white);
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 1.3rem;
    font-family: "Suisse","Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  }
}

// above block isn't specific enough but plays more nicely with BEM styles
a.codecademy-card {
  color: var(--cc-navy);
}
