$cc-breakpoint-sm: 768px;
$cc-breakpoint-md: 1024px;
$apercu: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
$suisse: "Suisse",$apercu;

.codecademy-mount-point {
  margin: 64px 0;
  font-family: $apercu;
}

.codecademy-section-title {
  margin-bottom: 16px;
}

.codecademy-cards {
  display: flex;
  flex-direction: column;
}

.codecademy-card {
  flex: 1;
  min-height: 180px;
  padding: 16px;
  border: 1px solid black;
  background-color: var(--cc-card-background);
  font-size: 0.9rem; // 1rem ~15px in discourse land
  transition: box-shadow 200ms ease, transform 200ms ease;
  
  &:not(:last-child) {
    margin: 0 0 20px;
  }
  
  &:hover {
    transform: translate(4px, -4px);
    box-shadow: -8px 8px 0 var(--cc-card-shadow);
  }

  &__type {
    margin-bottom: 12px;
    font-family: $suisse;
  }

  &__pro-badge {
    padding: 0 2px;
    margin-right: 8px;
    background-color: var(--cc-card-text);
    color: var(--cc-card-background);
    text-transform: uppercase;
    font-family: $apercu;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 1.3rem;
  }
  
  &__difficulty {
    display: flex;
    align-items: center;
  }
  
  &__dots {
    font-size: 12px;
    margin-right: 5px;
  }

  &__lesson-count {
    margin: 0 3px;
  }
}

// above block isn't specific enough but plays more nicely with BEM styles
a.codecademy-card, a.codecademy-card:hover {
  color: var(--cc-card-text);
}

@media only screen and (min-width: $cc-breakpoint-sm) {
  .codecademy-cards {
    flex-direction: row;
  }
  .codecademy-card:not(:last-child) {
    margin: 0 1.6rem 0 0;
  }
}

@media only screen and (min-width: $cc-breakpoint-md) {
  .codecademy-card {
    max-width: 320px;
  }
}
